.game-footer {
  position: relative;
  width: 100%;
  height: 280px; 
  margin-top: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer-layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: contain;
}

.city-layer {
  top: 10px;
  z-index: 10;
  height: 160px;
  opacity: 0.8;     
  background-image: url('../../assets/city-footer.svg');
  background-size: auto;
}

.spin-layer {
  z-index: 20;
  height: auto;
  bottom: 145px; 
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.clouds-layer {
  z-index: 30;
  height: 230px;   
  pointer-events: none; 
  background-image: url('../../assets/clouds.svg');
  background-size: cover;
}

.balance-layer {
  z-index: 40;
  position: relative;   
  pointer-events: auto;
}